@page
@model IndexModel
@using DSortAPI.Data
@using DSortAPI.Model
@using DSortAPI.Controllers
@{
    ViewData["Title"] = "Home page";

}

<div class="text-center">
    <h1 class="display-4">Doc Sort App</h1>
    <br/>
    <p>List of Documents</p>

    @{
        
    }


    <table>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>N. Scans</th>
            <th>N. Persons</th>
            <th>Description</th>
            <th>Phisical Address</th>
        </tr>
     @{



     }








    </table>

</div>

